/.deps/
/aclocal.m4
/autom4te.cache/
/build/
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/configure~
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/README.Win32
/screen-message-*.tar.gz
/setup.iss
/sm
/sm-sm.o
/sm.desktop
/stamp-h1
